<template name="stores">
  <h2>门店列表</h2>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td>全称</td>
        <td>地域信息</td>
        <td style="width: 70px"></td>
      </tr>
    </thead>
    <tbody>
      {{#each stores}}
        <tr class="store-row {{#if isSelectedStore}}selected{{/if}}">
		  <td>{{name}}</td>
          <td>{{address.area}} {{address.street}}</td>
          <td style="width: 70px">{{> quickRemoveButton collection="Stores" _id=this._id class="btn btn-sm btn-danger"}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="panel panel-default">
      <div class="panel-heading">
          <h4>注册新门店</h4>
      </div>
      <div class="panel-body">
        {{#autoForm collection="Stores" id="insertStoreForm" type=formType doc=selectedStoreDoc}}
			<fieldset>
				{{> afQuickField name='name'}}
				{{> afQuickField name='aliase'}}
				{{> afQuickField name='creator'}}
				{{> afQuickField name='address'}}
				{{> afQuickField name='contacts'}}
				{{> afQuickField name='description'}}
				{{> afQuickField name='registerFormId'}}
			</fieldset>
			<button type="submit" class="btn btn-primary">Submit</button>			
		{{/autoForm}}
      </div>
  </div>
</template>
