<template name="stores">
  <h2>门店列表</h2>
  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <td>门店编号</td>
        <td>名称</td>
        <td>地域信息</td>
        <td style="width: 115px"></td>
      </tr>
    </thead>
    <tbody>
      {{#each stores}}
        <tr class="store-row {{#if isSelectedStore}}selected{{/if}}">
		      <td>{{key}}</td>
          <td>
            {{#if aliase}}
              {{aliase}}
            {{else}}
              {{name}}
            {{/if}}
          </td>
          <td>{{areaId}} {{address.fullAddress}}</td>
          <td style="width: 115px">
            <a class="btn btn-sm btn-primary" role="button" href="/stores/{{_id}}" >
              业务
            </a>
            {{# quickRemoveButton collection="Stores" _id=this._id class="btn btn-sm btn-danger"}}删除{{/quickRemoveButton}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if isInsert}}
  {{else}}
    <button type="button" class="btn btn-default form-to-insert pull-right">新门店</button>
  {{/if}}
  <div class="panel panel-default">
      <div class="panel-heading">
        {{#if isInsert}}
          <h4>注册新门店</h4>
        {{else}}
          <h4>修改门店</h4>
        {{/if}}
      </div>
      <div class="panel-body">
        {{#autoForm collection="Stores" id="insertStoreForm" type=formType doc=selectedStoreDoc resetOnSuccess=true}}
    			<fieldset>
            {{> afQuickField name='key'}}
    				{{> afQuickField name='name'}}
    				{{> afQuickField name='aliase'}}
    				{{> afQuickField name='creator'}}
    				{{> afQuickField name='areaId' disabled=isUpdate}}
    				{{> afQuickField name='address'}}
    				{{> afQuickField name='contacts'}}
    				{{> afQuickField name='description'}}
    				{{> afQuickField name='registerFormId'}}
    			</fieldset>
    			<button type="submit" class="btn btn-primary">Submit</button>
    		{{/autoForm}}
      </div>
  </div>
</template>
