<template name="classes">
  <h2>分类管理</h2>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td>分类</td>
        <td>瑕疵</td>
		<td>洗后效果</td>
		<td>配件</td>
        <td style="width: 70px"></td>
      </tr>
    </thead>
    <tbody>
      {{#each classes}}
        <tr>
          <td>{{name}}</td>
          <td>{{flaws}}</td>
		  <td>{{effects}}</td>
		  <td>{{accessories}}</td>
          <td style="width: 70px">{{> quickRemoveButton collection="Classes" _id=this._id class="btn btn-sm btn-danger"}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="panel panel-default">
      <div class="panel-heading">
          <h4>分类</h4>
      </div>
      <div class="panel-body">
        {{> quickForm collection="Classes" id="insertClassForm" type="insert"}}
      </div>
  </div>
</template>
