<template name="factories">
  <h2>后方洗涤厂列表</h2>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td>厂遍号</td>
        <td>全称</td>
		<td>地址</td>
        <td style="width: 70px"></td>
      </tr>
    </thead>
    <tbody>
      {{#each factories}}
        <tr>
          <td>{{key}}</td>
          <td>{{name}}</td>
		  <td>{{address.city}} {{address.district}} {{address.street}}</td>
          <td style="width: 70px">{{> quickRemoveButton collection="Factories" _id=this._id class="btn btn-sm btn-danger"}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="panel panel-default">
      <div class="panel-heading">
          <h4>添加洗涤厂</h4>
      </div>
      <div class="panel-body">
        {{> quickForm collection="Factories" id="insertFactorieForm" type="insert"}}
      </div>
  </div>
</template>
