<template name="areas">
  <h2>区域列表</h2>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td>区域编号</td>
        <td>名称</td>
        <td style="width: 70px"></td>
      </tr>
    </thead>
    <tbody>
      {{#each areas}}
        <tr class="area-row {{#if isSelectedArea}}selected{{/if}}">
          <td>{{key}}</td>
          <td>{{name}}</td>
          <td style="width: 70px">{{> quickRemoveButton collection="Areas" _id=this._id class="btn btn-sm btn-danger"}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="panel panel-default">
      <div class="panel-heading">
          <h4>开通新区域</h4>
      </div>
      <div class="panel-body">
        {{> quickForm collection="Areas" id="insertAreaForm" type=formType doc=selectedAreaDoc}}
      </div>
  </div>
</template>
